<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548572057882-9b5gsut7pfmsrln6o2ifsgmhal6h9n1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548572057882-9b5gsut7pfmsrln6o2ifsgmhal6h9n1f</string>
	<key>API_KEY</key>
	<string>AIzaSyAgmxgENEVUINWz6yZewqEqSqwWLrhtUZE</string>
	<key>GCM_SENDER_ID</key>
	<string>548572057882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.shooooting.examples.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-8781f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-8781f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548572057882:ios:fbacbad2e2ac1363d6dca3</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-8781f.firebaseio.com</string>
</dict>
</plist>